/* styles.css */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: hsl(0, 0%, 20%);
    color: #fff;
    width: 100%;
}

table {
    border-collapse: collapse;
    margin-top: 50px;
}

h1 {
    color: lightcyan;
    margin-bottom: 50px;
    font-weight: 400;
}

th,
td {
    padding: 8px;
}

th {
    color: lightcyan;
    cursor: pointer;
    border: 1px solid lightblue;
}

th:hover {
    background-color: #555;
    color: white;
}

tr:nth-child(even) {
    background-color: #555;
}

input[type=text] {
    width: 480px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#checkboxes {
    width: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#checkboxes input {
    border: 1px solid lightcyan;
}

.zero {
    background-color: #ff474c;
    opacity: 80%;
    font-weight: bold;
    color: white;
    /* background-color: darkred;
    opacity: 70%;
    font-weight: bold; */
}

@media screen and (max-width: 600px) {
    table {
        width: 90%;
    }
}