#chart {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    font-size: .8em;

    height: 70vh;
    margin-bottom: 50px;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border: 2px solid lightblue;

    max-width: 95vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

#vitaminTable {
    border-collapse: collapse;
}

#vitaminTable thead {
    background-color: #f0f0f0;
}

#vitaminTable thead tr {
    border-bottom: 1px solid #dddddd;
}

#vitaminTable thead th {
    padding: 5px;
    text-align: left;
}

#vitaminTable tbody td {
    padding: 10px;
    text-align: left;
}

table {
    border-collapse: collapse;
    margin-top: 50px;
}

td a {
    text-decoration: none;
    color: green;
    border: 1px solid green;
    padding: 5px 20px;
    border-radius: 10px;
}

td a:hover {
    background-color: green;
    color: white;
}

th,
td {
    padding: 8px;
}

th {
    cursor: pointer;
    border: 1px solid lightblue;
}

th:hover {
    background-color: #555;
    color: white;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

input[type=text] {
    width: 480px;
    height: 50px;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zero {
    background-color: #ff474c;
    opacity: 80%;
    font-weight: bold;
    color: white;
}

.low {
    background-color: #ffff00;
    opacity: 80%;
    font-weight: bold;
    color: black;
}

@media (min-width:1200px) {
    #chart {
        width: 60vw;
        margin-left: 20vw;
    }
}